.observation-detail {
    flex-grow: 1;
    min-width: 400px;
    width: 30%;
    border-radius: 4px;
    border: 1px solid darkgray;
    background-color: white;
}

.observation-detail h1 {
    background-color: beige;
}

.observation-detail img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
